:root {
  --darkGreen: #284a46;
  --green: #387373;
  --lightGreen: #93BFB7;
  --oliveGreen: #97A6A0;
  --grayGreen: #E4F2E7;

  --blue: #788aa3;
  --teal: #92b6b1;
  --tan: #e8ddb5;
  --brown: #312020;
}

/* sections */
header {
  background-color: var(--oliveGreen);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000; /* ensure it stays on top of other content */
  padding: 20px;
  width: 100%;
}

.navBar {
  list-style-type: none; /* remove bullets */
  display: flex;
}

.navBar a {
  color: var(--darkGreen);
  margin-right: 20px; /* add spacing between nav items */
}

body {
  font-family:'Montserrat', sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  padding: 10%;

  background-color: var(--grayGreen);
}

h1, h2 {
  color: var(--green);
}

/* wide screen */
@media screen and (min-width: 801px) {
  .introArticle {
    display: flex;
    align-items: center; /* align items to the start of the container */
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    max-width: 600px;
  }

  #intro {
    font-size: 4vw;
  }

  #aboutMe {
    font-size: 2vw;
  }

  #portrait {
    margin-right: 30px; /* adjust spacing between image and text */
    flex-shrink: 0; /* prevent the image from shrinking */
  }

  #signature {
    float: right;
    margin-right: 5%;
    margin-top: -20px;
  }
}

/* narrow screen */
@media screen and (max-width: 800px) {
  .introArticle {
    text-align: center;
    padding: 5%;
  }

  #intro {
    font-size: calc(15px + 2vw);
  }

  #aboutMe {
    font-size: calc(10px + 1vw);
  }

  #portrait {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
}

/* text display */
.bold {
  font-weight: bold;
  text-decoration: none;
}

.italic {
  font-style: italic;
}

.underline {
  text-decoration: underline;
}

.uppercase {
  text-transform: uppercase;
}

.half-highlight, #navAbout:hover, #navProj:hover {
  background: linear-gradient(to top, var(--lightGreen) 50%, transparent 50%);
}

/* hover */
#headerName:hover, #footLogos:hover {
  opacity: 0.75;
}

/* images */
img.right {
  float: right;
}

#headerName {
  max-width: 10%;
  min-width: 150px;
  height: auto;
}

#portrait {
  max-width: 40%;
  min-width: 100px;
  height: auto;
}

#signature {
  max-width: 25%;
  min-width: 60px;
  width: 100%;
  height: auto;
}

.footLogos {
  display: inline-block;
  text-align: center; /* center the images horizontally */
  width: 100%;
}

#footLogos {
  max-width: 2%;
  min-width: 25px;
  height: auto;
  margin: 5px; /* adjust spacing between images */
}