:root {
  --darkGreen: rgb(40, 74, 70);
  --green: rgb(56, 115, 115);
  --lightGreen: rgb(147, 191, 183);
  --oliveGreen: rgb(151, 166, 160);
  --lightOliveGreen: rgb(179, 197, 190);
  --grayGreen: rgb(228, 242, 231); /* background */
  --lightGrayGreen: rgb(240, 255, 243);

  --blue: rgb(120, 138, 163);
  --teal: rgb(146, 182, 177);
  --tan: rgb(232, 221, 181);
  --brown: rgb(49, 32, 32);
  --gray: rgb(55, 67, 68);

  --borderRad: 15px;

  --h1MaxFont: 35px;
  --h1MidFont: 3.125vw;
  --h1MinFont: calc(15px + 2vw);

  --sigMargRight: 2%;
  --sigMargTop: -25px;
}

/* sections */
#header {
  background-image: linear-gradient(var(--grayGreen), transparent);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  padding: 20px 8%;
  width: 100%;
}

#navBar {
  align-items: center;
}

#navBar ul {
  text-align: left;
  text-shadow: 2px 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: flex-start;
  position: relative; /* dropdown relative to parent */
  padding: 0 0 0 20px;
  margin: 0;
}

ul {
  list-style-type: none;
}

.toc {
  margin-left: -20px;
  margin-bottom: 50px;
}

.tocText {
  font-weight: 500;
}

#navHome, #navProj {
  color: var(--darkGreen);
  margin-right: 5.5vw;
}

#navBar a.active {
  background: linear-gradient(to top, var(--lightOliveGreen) 50%, transparent 50%);
}

/* dropdown container */
.dropdown {
  position: relative;
  display: inline-block;
}

/* dropdown content (hidden by default) */
.dropdownContent {
  display: none; /* hides it */
  background-color: rgb(240, 255, 243, 0.5);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  font-weight: 500;
  z-index: 1;
  flex-direction: column;
}

.dropdownContent li {
  display: none;
}

/* links inside the dropdown */
.dropdownContent a {
  color: var(--darkGreen);
  display: block;
}

/* change color of dropdown links on hover */
.dropdownContent a:hover {
  background: linear-gradient(to top, var(--lightOliveGreen) 50%, transparent 50%);
}

/* show the dropdown menu on hover */
.dropdown:hover .dropdownContent li {
  display: block;
}

body {
  font-family:'Montserrat', sans-serif;
  color: var(--darkGreen);
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 10%;

  background-color: var(--grayGreen);
}

a {
  color: var(--darkGreen);
  text-decoration: none;
}

h1, h2, h4 {
  color: var(--green);
}

h3, p {
  line-height: 1.5;
}

h4 {
  font-weight: 600;
}

h5, p, figcaption {
  font-weight: 400;
}

figcaption a {
  text-decoration: underline;
}

p {
  margin: 0;
}

summary{
  font-weight: bold;
}

iframe {
  position: relative; /* allows box to be resized */
  max-width: 1000px;
  max-height: 600px;
  resize: both;
  border-radius: var(--borderRad);
}

.pdfText {
  gap: 40px;
}

.headingAndPic {
  display: flex;
  align-items: center; /* center items vertically */
  width: 100%;
}

footer {
  margin-top: 100px;
}

/* wide screen */
@media screen and (min-width: 1001px) {
  section {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }

  .introArticle {
    display: flex;
    align-items: center; /* center items vertically */
    width: 100%;
  }

  h1 {
    font-size: var(--h1MaxFont);
  }

  h2 {
    font-size: calc(var(--h1MaxFont) - 10px);
  }

  h3 {
    font-size: calc(var(--h1MaxFont) - 12px);
  }

  h4, #navBar {
    font-size: calc(var(--h1MaxFont) - 15px);
  }

  h5, p, .dropdownContent {
    font-size: calc(var(--h1MaxFont) - 17px);
  }

  #portrait {
    margin-right: 50px; /* adjust spacing between image and text */
    flex-shrink: 0; /* prevent the image from shrinking weirdly? */
  }

  #signature {
    float: right;
    margin-right: var(--sigMargRight);
    margin-top: var(--sigMargTop);
  }

  .pdfText {
    display: flex;
    margin-left: auto;
    margin-right: auto;
  }

  .cardGrid {
    grid-template-columns: 1fr 1fr;
  }

  .imgGrid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 801px) and (max-width: 1000px) {
  section {
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
  }

  .introArticle {
    display: flex;
    align-items: center; /* center items vertically */
    width: 100%;
  }

  h1 {
    font-size: var(--h1MidFont);
  }

  h2 {
    font-size: calc(var(--h1MidFont) - 0.75vw)
  }

  h3 {
    font-size: calc(var(--h1MidFont) - 0.875vw)
  }

  h4, #navBar, .dropdownContent {
    font-size: calc(var(--h1MidFont) - 1.25vw);
  }

  h5, p {
    font-size: calc(var(--h1MidFont) - 1.375vw);
  }

  #portrait {
    margin-right: 50px; /* adjust spacing between image and text */
    flex-shrink: 0; /* prevent the image from shrinking weirdly? */
  }

  #signature {
    float: right;
    margin-right: var(--sigMargRight);
    margin-top: var(--sigMargTop);
  }

  .pdfText {
    display: flex;
    margin-left: auto;
    margin-right: auto;
  }

  .cardGrid {
    grid-template-columns: 1fr 1fr;
  }

  .imgGrid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/* narrow screen */
@media screen and (max-width: 800px) {
  .introArticle {
    text-align: center;
    padding: 5%;
  }

  h1 {
    font-size: var(--h1MinFont);
  }

  h2, h4 {
    font-size: calc(10px + 1.5vw);
  }

  h3, h5, #navBar, .dropdownContent {
    font-size: calc(10px + 1vw);
  }

  p {
    font-size: calc(10px + 0.75vw);
  }

  #portrait {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  .cardGrid, .imgGrid {
    grid-template-columns: 1fr;
  }
}

/* text display */
.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.underline {
  text-decoration: underline;
}

.uppercase {
  text-transform: uppercase;
}

.halfHighlight {
  background: linear-gradient(to top, var(--lightGreen) 50%, transparent 50%);
}

/* hover */
#headerName:hover, #footLogos:hover, #footResume:hover, #engrAndMusic:hover, #cwru:hover, .tocText:hover, #bajaIntro:hover, #scvt:hover, #cwrumWeb:hover, #clickToSeeMore:hover {
  opacity: 0.75;
}

#navHome:hover, #navProj:hover {
  background: linear-gradient(to top, var(--lightOliveGreen) 50%, transparent 50%);
}

/* cards */
.cardGrid {
  display: grid;
  gap: 35px; /* adjust the gap between cards */
  justify-content: center; /* center the grid horizontally */
}

.card {
  /* add shadows to create the "card" effect */
  background-color: var(--lightGrayGreen);
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: var(--borderRad);
  height: auto;
}

/* on mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card h4, .card h5 {
  margin-top: 15px;
  margin-bottom: 15px;
}

/* add some padding inside the card container */
.container {
  padding: 1px 16px;
}

.cardImg {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: var(--borderRad) var(--borderRad) 0 0;
}

/* image grid */
.imgGrid {
  display: grid;
  gap: 35px; /* adjust the gap between cards */
  justify-content: center; /* center the grid horizontally */
}

/* images */
img {
  border-radius: var(--borderRad);
  max-height: 300px;
  object-fit: cover;
}

img.right {
  float: right;
}

figure {
  margin: 0;
}

/* art grid */
.art-columns {
  display: flex;
  gap: 40px; /* space between columns */
  justify-content: center;
}

.art-column {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 33%; /* make both columns the same width */
}

.art-cardImg {
  width: 100%;
  height: fit-content;
  max-height: fit-content;
  object-fit: cover;
  border-radius: var(--borderRad) var(--borderRad) 0 0;
}

@media (max-width: 800px) {
  .art-columns {
    flex-direction: column;
  }

  .art-column {
    width: 100%;
  }
}


/* slider */
.hover-slideshow .slideshow {
  position: relative;
  width: 100%;
  aspect-ratio: 1 / 1;
  overflow: hidden;
  border-radius: var(--borderRad) var(--borderRad) 0 0;
}

.hover-slideshow .slideshow img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-height: fit-content;
  object-fit:fill;
  opacity: 0;
  transition: opacity 0.5s ease;

  display: flex;
  align-items: center;
  justify-content: center;
}

.hover-slideshow .slideshow img.active {
  opacity: 1;
}

/* global */
#headerName {
  width: 20%;
  max-width: 200px;
  min-width: 100px;
  height: auto;
}

#portrait {
  width: 35%;
  max-width: 300px;
  min-width: 100px;
  height: auto;
}

#signature {
  width: 25%;
  max-width: 125px;
  min-width: 60px;
  height: auto;
}

.headingPic {
  width: 12%;
  max-width: 100px;
  min-width: 30px;
  height: auto;
  margin-left: 1%
}

.tiInsertCad {
  width: 8%;
  max-width: 50px;
  min-width: 30px;
  height: auto;
  margin-left: 1%
}

.footLogos {
  display: inline-block;
  text-align: center; /* center the images horizontally */
  width: 100%;
}

#footLogos {
  max-width: 2%;
  min-width: 25px;
  height: auto;
  margin: 7px; /* adjust spacing between images */
}

#footResume {
  max-width: 7%;
  min-width: 75px;
  height: auto;
}